.place-order-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-family: "Roboto";
    margin: 100px;
    position: fixed;
}

.place-order-container img{
width: 250px;
height: 250px;
}

.next{
    margin: 6px;
}

